$color-main: #4D533C;
$color-background: #F2F2F2;
$color-bg-add: #FAFAFA; 
$color-heading: #FFFFFF;
$color-link: #D4D6D4;
$color-link-active: #FFD723;
$color-text: rgba(33, 56, 66, 0.6);
$color-text-add: rgba(77, 83, 60, 0.9);
$color-title: rgba(255, 215, 35, 0.1);
$color-founder: #152934;
$color-text-footer: #B6C197;
$color-bg-footer: #4F553D;
$color-footer: #B5C096;
$color-line: #5D6544;  
$color-modal: #F5F6F7;
$color-border: rgba(33, 56, 66, 0.0955529);
$color-bg-icon: #444A34;

/*$content-width: 1110px;*/
$content-width: 1399px;
$tablet-width: 1199px;
$tablet-small-width: 991px;
$mobile-width: 767px;
$mobile-small-width: 575px;